.main {
    height: 80vh;
    margin: 2rem auto;
    border-radius: 8px;
    width: 75vw;

}
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.4rem;
    width: fit-content;
    margin: 0 auto 3rem auto;
    height: fit-content;
}

.categoriasContainer {
    border: 1px solid aliceblue;
    color: aliceblue;
    margin: auto;
    width: 41rem;
    display: block;
    text-align: left;

}
.categoriasContainer > h2 {
    margin-left: 1rem;
}
.categoriasList {
    padding: 0;
}
.categoriasListItem {
    list-style: none;
    margin-left: 1rem;
}

.popular {
    text-align: center;
    margin: 1rem;
    font-size: 30px;
    font-weight: bold   ;
    color: aliceblue;
}
.item {
    background-color: #333;
    height: 16rem;
    border-radius: 4px;
}
.item:hover {
    filter: brightness(0.8);
}
@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Altera para uma coluna quando a largura da tela é 768 pixels ou menos */
  }
  .categorias {
    width: 35rem;
  }
}